.bac{
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    padding: 88px 0;

    &__card{
        border-radius: 16px;
        padding: 48px;
        background: #3671E9;
        display: flex;  
        align-items: center;

        &__about{
            padding-right: 190px    ;
            &__title{
                color: #fff;
                font-size: 32px;
                font-weight: 700;
                line-height: 150%;
                padding-bottom: 16px;
            }
            &__disc{
                color: #fff;
                line-height: 28px;
                width: 348px;
            }
        }
        &__input input{
            width: 374px;
            color: rgb(255, 255, 255);
            background: none;
            padding: 12px 20px;
        
            margin: 8px 0;
            display: inline-block;
            border: none;
            border-bottom: 2px solid #e0e0e0;
            box-sizing: border-box;
            &::placeholder {
                color: #fff;
            }
        }
        &__butt a{
            text-decoration: none;
            color: #000;
            padding: 14PX 32px;
            background: #fff;
            font-weight: 500;
            border-radius: 32px;

        }
        &__butt{
            margin-left: 40px;
        }
    }
}