.fut{
    position: relative;
    
    &::after{
        content: '';
        position: absolute;
        top: -345px;
        left: 69px;
        overflow: hidden;
        width: 686px;
        height: 686px;
        transform: rotate(90deg);
        border-radius: 686px;
        background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.16) 0deg, rgba(255, 255, 255, 0.00) 360deg);
    }
   
   
   
   
   
    background: var(--Color-Secondary, #2B076E);
    padding-top: 100px; 
    &__title{
        color: #fff;
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        width: 758px;
        padding-bottom: 100px;
    }
    &__blok{
        display: flex;
        padding-bottom: 120px;
        align-items: center;
        z-index: 1;
        &__left{
            &__title{
                font-weight: 700;
                font-size: 32px;
                color: #fff;
                line-height: 150%;
                padding-bottom: 24px;
            }
            &__sub{
                color: #E0E0E0;
                width: 408px;
                line-height: 28px;
                padding-bottom: 32px;

            }
            &__butt a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            padding: 16px 32px;
            border-radius: 32px;
            background: #3671E9;
            
            }
        }
        &__right{
            &__foto_1{
                background: url('../images/fot_1.svg');
                width: 580px;
                height: 427px;
                margin-left: 146px;
            }
            &__foto_2{
                background: url('../images/Stat.svg');
                width: 710px;
                height: 453px;
                margin-left: -165px;
                margin-right: 90px;
            }
            &__foto_3{
                background: url('../images/Tab.svg');
                width: 770px;
                height: 334px;
                margin-left: 0;
            }
        }
    }
}